header
  .container
    .row
      figure.logo.col-10.col-sm-10.col-md-10.col-lg-2
        img(src="img/logo.png", alt="logo")
      nav.navbar-light.col-2.col-sm-2.col-md-2-.col-lg-10
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo01.collapse.navbar-collapse
          ul.navbar-nav.mr-auto.mt-2
            li.nav-item.active
              a.nav-link(href='#')
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Producto
            li.nav-item
              a.nav-link(href='#') Contactenos
